<a href="https://colab.research.google.com/github/kashaswal094/My-projects/blob/main/cleaning_student_data_21_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cleaning a student score data : -create a year column -re-arrange column values -create a data with student id with unique teacher id for each subject.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import warnings
import numpy as np
import pandas as pd

warnings.filterwarnings('ignore')

In [13]:
df_21_22 = pd.read_excel('/content/drive/MyDrive/Data project folder/E3_Data Request_Completed DEC 2022_FINAL.xlsx', sheet_name= 'Student Data_FINAL')
df_21_22.head()

,Year,Student ID,Grade,Building,Race/Ethnicity,FRL Status,ELL Status,SPED Status,General Education Teacher ID,ELA Teacher ID,Math Teacher ID,ELA Standardized Test,Math Standardized Test,ELA Score,ELA Proficiency Level,Math Score,Math Proficiency Level
0,2021-2022,216067,4,410,5,NaN,N,N,141246,141246,141246,SBAC,SBAC,2781,4,2659,4
1,2021-2022,126554,5,410,5,NaN,N,N,39698,39698,39698,SBAC,SBAC,2431,1,2468,2
2,2021-2022,291852,4,410,0,NaN,Y,N,40651,40651,40651,SBAC,SBAC,2473,3,2430,2
3,2021-2022,678628,5,410,5,NaN,N,N,156375,156375,156375,SBAC,SBAC,2397,1,2340,1
4,2021-2022,297205,4,410,5,NaN,N,Y,192917,192917,192917,SBAC,SBAC,2338,1,2376,1

In [14]:
df_21_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          10886 non-null  object
 1   Student ID                    10886 non-null  int64
 2   Grade                         10886 non-null  int64
 3   Building                      10886 non-null  int64
 4   Race/Ethnicity                10886 non-null  int64
 5   FRL Status                    0 non-null      float64
 6   ELL Status                    10886 non-null  object
 7   SPED Status                   10886 non-null  object
 8   General Education Teacher ID  4029 non-null   object
 9   ELA Teacher ID                9045 non-null   object
 10  Math Teacher ID               8757 non-null   object
 11  ELA Standardized Test         10886 non-null  object
 12  Math Standardized Test        10886 non-null  object
 13  ELA Score                     7718 non-null   object
 14  ELA Proficiency Level         7718 non-null   object
 15  Math Score                    7703 non-null   object
 16  Math Proficiency Level        7703 non-null   object
dtypes: float64(1), int64(4), object(12)
memory usage: 1.4+ MB

In [15]:
df_21_22['Academic Year'] = '2021-2022'
df_21_22['District'] = 'COLONIAL'

df_21_22=df_21_22[['Student ID', 'Academic Year',
                   'District', 'Building',
                   'Grade', 'Race/Ethnicity',
                   'ELA Teacher ID', 'ELA Score', 'ELA Proficiency Level',
                   'Math Teacher ID', 'Math Score','Math Proficiency Level']]

df_21_22=df_21_22.rename(columns={'Year':'Academic Year',})

In [19]:
df_21_22.loc[df_21_22['Student ID'].duplicated()].sort_values("Student ID")

Empty DataFrame
Columns: [Student ID, Academic Year, District, Building, Grade, Race/Ethnicity, ELA Teacher ID, ELA Score, ELA Proficiency Level, Math Teacher ID, Math Score, Math Proficiency Level]
Index: []

In [18]:
df_21_22=df_21_22.loc[~df_21_22['Student ID'].duplicated()]

In [40]:
#select the columns with ela score and proficiency.
df_21_22_ela=df_21_22[[
    'Student ID','Academic Year','District', 'Grade','Race/Ethnicity',
    'ELA Teacher ID','ELA Score','ELA Proficiency Level','Building']]
df_21_22_ela['Course']='ELA'
df_21_22_ela = df_21_22_ela.dropna(
    how='any',
    subset=['ELA Teacher ID', 'ELA Score', 'ELA Proficiency Level'])
df_21_22_ela=df_21_22_ela.rename(
    columns={'ELA Teacher ID':'Teacher ID',
             'ELA Score':'Score',
             'ELA Proficiency Level':'Proficiency Level'})

In [41]:
df_21_22_ela['Score'] = pd.to_numeric(df_21_22_ela['Score'], errors='coerce')
df_21_22_ela['Score'].isnull().sum()

In [45]:
df_21_22_ela = df_21_22_ela[~df_21_22_ela['Score'].isnull()].reset_index(drop=True)
df_21_22_ela['Score'] = df_21_22_ela['Score'].astype('int')
df_21_22_ela = df_21_22_ela.drop(df_21_22_ela[df_21_22_ela['Teacher ID'] == '-'].index)

array([141246, 39698, 40651, 156375, 192917, 183032, 114163, 143422,
       197052, 33042, 190363, 186307, 169986, 130564, 166957, 120060,
       140489, 89522, 190789, 182521, 99505, 107666, 45544, 49336, 113903,
       77935, 58003, 30068, 91854, 172622, 192908, 185966, 100875, 169168,
       171935, 13244, 177174, 58277, 176562, 188477, 181252, 95344,
       133691, 112727, 136590, 182468, 185097, 157951, 95122, 187800,
       179288, 178477, 54826, 95244, 195694, 133166, 102559, 89528,
       177443, 139062, 130238, 151068, 182452, 177085, 129202, 141426,
       171754, 187631, 20322, 156750, 178474, 127380, 189281, 119617,
       176356, 128414, 197444, 135101, 187497, 94090, 193236, 162047,
       188459, 153612, 148368, 192919, 177173, 135979, 137254, 122024,
       145796, 156826, 182519, 179992, 171549, 104650, 192911, 113759,
       160275, 151236, 182511, 191328, 98542, 58281, 59825, 187031,
       166954, 197520, 89713, 197053, 131106, 197005, 99381, 113065,
       32717, 177803, 89535, 170594, 15618, 71515, 160738, 126128, 171706,
       80809, 157225, 101664, 182442, 162493, 187814, 83586, 57937, 56864,
       77644, 95423, 132686, 138610, 167693, 34159, 187801, 145968,
       158094, 146188, 45741, 'FH', 'SK', 171564, 160484, 'DP', 151496,
       182583], dtype=object)

In [46]:
df_21_22_math=df_21_22[[
    'Student ID','Academic Year','District', 'Grade','Race/Ethnicity',
    'Math Teacher ID','Math Score','Math Proficiency Level','Building']]
df_21_22_math['Course']='MATH'
df_21_22_math = df_21_22_math.dropna(
    how='any',
    subset=['Math Teacher ID', 'Math Score', 'Math Proficiency Level'])
df_21_22_math=df_21_22_math.rename(
    columns={'Math Teacher ID':'Teacher ID',
             'Math Score':'Score',
             'Math Proficiency Level':'Proficiency Level'})

df_21_22_math['Score'] = pd.to_numeric(df_21_22_math['Score'], errors='coerce')
df_21_22_math = df_21_22_math[~df_21_22_math['Score'].isnull()].reset_index(drop=True)
df_21_22_math['Score'] = df_21_22_math['Score'].astype('int')

In [51]:
df_21_22_math = df_21_22_math.drop(df_21_22_math[df_21_22_math['Teacher ID'] == '-'].index)
df_21_22_math['Teacher ID'].unique()

array([141246, 39698, 40651, 156375, 192917, 183032, 114163, 143422,
       197052, 130564, 33042, 190363, 186307, 169986, 166957, 120060,
       140489, 89522, 190789, 182521, 99505, 107666, 45544, 49336, 113903,
       77935, 58003, 30068, 91854, 172622, 192908, 185966, 100875, 169168,
       171935, 13244, 177174, 58277, 176562, 188477, 181252, 95344,
       133691, 112727, 136590, 182468, 185097, 157951, 95122, 187800,
       179288, 178477, 54826, 95244, 195694, 133166, 102559, 89528,
       177443, 139062, 130238, 151068, 182452, 177085, 129202, 141426,
       171754, 187631, 20322, 156750, 178474, 127380, 189281, 119617,
       176356, 144767, 128414, 197444, 135101, 187497, 94090, 193236,
       162047, 188459, 153612, 148368, 176397, 182944, 13174, 34320,
       57563, 132696, 31852, 113897, 182519, 111708, 187633, 180500,
       182448, 157681, 197090, 185003, 107715, 100915, 187144, 89700,
       34082, 187031, 166954, 197520, 94024, 124694, 151913, 171721,
       91276, 195431, 149503, 173316, 89535, 140474, 50981, 117543,
       170163, 30617, 136365, 98797, 83247, 132017, 131122, 118941,
       192902, 77644, 95423, 132686, 138610, 167693, 144961, 157041,
       179992, 113890, 146188, 187819, 57979, 191583, 130789],
      dtype=object)

In [52]:
#append both ela and maths score
df_21_22 = pd.concat([df_21_22_ela, df_21_22_math], axis=0)

In [53]:

df_c1 = (df_21_22.groupby('Student ID')['District'].count().reset_index())
assert len(df_c1[df_c1['District']>2]) == 0

In [55]:
df_new=pd.read_csv("/content/drive/MyDrive/Data project folder/Colonial Student File 21.csv")
df_school_match= (df_new[['Building', 'School']])

In [56]:
df_21_22.to_csv('/content/drive/MyDrive/Data project folder/Colonial Student File 22_clean.csv',
                index=False, encoding='utf-8')